{{#each books as |book|}}

  <!-- {{> partial}}
  Don't uncomment yet -->

 <!-- Developers, why are we using data-id and not just id? -->
  <h1 data-id="{{book.id}}"> <small>Title: {{book.title}}</small></h1>
  <div>
    {{#if book.description}}
      {{book.description}}
      <button id="removeBooksButton" class="btn btn-default">Remove Books!</button>
    {{else}}
      No description.
    {{/if}}
  </div>

{{/each}}
<div>
  <ul>
    {{#each books as |book|}}
    <li>{{ book.description }}
    </li>
    {{/each}}
    <button id="removeBooksButton" class="btn btn-default">Remove Books!</button>
  </ul>
</div>
